body {
    background-color: #1a1a1a;
    color:#00ff00;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    border: 5px solid;


}

h1{
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0 0 10px #39ff14;
}